---
# front matter here is required
---
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        'includes',
        'blog',
        'portfolio',
        'showcase',
        'icons'
;

//Desktop Site

@media screen and (min-width: 1081px) {
	.mobile-navigation {
		display: none;
	}

	.desktop-navigation {
		display: inline-block;
	}
}

html, body {
	@extend %margin-reset;
	@include font-size(16px);
	background-color: $gray;
	font-family: $body-font;
}

h1,h2,h3 {
	font-family: $heading-font;
}

h1 {
	@include font-size(25px);
}

nav.desktop-navigation {
	text-decoration: none;
	background-color: $primary-color;
	text-align: left;
	margin-bottom: 2em;
	box-shadow: 0 2px 5px #616161;
	min-width: 100%;
	.title {
		font-family: $heading-font;
		font-size: 2em;
	}
	li{
		list-style: none;
		display: inline-block;
		padding: 20px;
	}
	
	a{
		text-decoration:none;
		color: white;
	}
	ul {
		display: inline-block;
		text-align: right;
		float: right;
	}
}
p.about {
	@include font-size(18px);
}

.clear {
	clear: both;
	margin-bottom: 2.5%;
	box-shadow: 0 2px 5px #616161
}

.logo {
		width: 180px;
		text-align: right;
}

.home-card {
	@include item-card(25px);
	@extend %margin-reset;
	width: 40%;
	margin-left: 2.5%;
	display: inline-block;
}

.portrait {
	display: inline-block;
	width: 25%;
	vertical-align: bottom;
	margin-left: 20%;
}

.image-link {
	display: inline-block;
	margin-top: 2.5%;
	margin-left: 12.5%;
}

footer {
	background-color: $secondary-color;
	color: white;
	padding: 20px;
	font-size: 1.2em;
}

.page-heading {
	font-family: $heading-font;
	margin-left: 1.5em;
}

.post-title {
	margin-left: .5em;
}

time {
    font-weight: 100;
}


//Mobile Site

@media screen and (max-width: 1080px) {
	.desktop-navigation {
		display: none;
	}

	.portrait {
		width: 40%;
		margin-left: 5%;
		vertical-align: top;
	}

	.mobile-navigation{
		display: block;
		min-width: 100%;
		background-color: $primary-color;
		box-shadow: 0 2px 5px #616161;
		a {
			text-decoration: none;
			color: white;
			@include font-size(20px);
			padding: 20px;
			margin-top: 1em;
		}
		li {
			list-style: none;
		}
	}

	.image-links {
		display: block;
		min-width: 100%;
		margin: 0 auto;
	}
}

.hide {
	display: none;
}

.show {
	display: block;
}