<header>
  <nav class="desktop-navigation">
      <li class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
    </div>
    <ul>
    {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        <li>
          {{ page.title }}
        </li>
      </a>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>

  <nav class="mobile-navigation">
    <span class="icon-menu"></span>
    <li class="title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </li>
    <ul>
    {% for page in site.pages %}
      {% if page.title %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        <li>
          {{ page.title }}
        </li>
      </a>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
  <div class="clear"></div>

</header>

<div class="wrapper">