.post-list {
    margin: 0 auto;
    width: 70%;
    li {
        width: 90%;
        margin: 2.5% auto;
        display: inline-block;
        @include item-card(20px);
        h2 {
            font-size: 2em;
            margin-top: .2em;
            margin-bottom: .1em;
        }
        .excerpt {
        	margin-bottom: 2.5em;
        }
        a {
	        text-decoration: none;
	        &:visited {
	            color: black;
	        }
	        .square-button {
        	border: 1px solid $secondary-color;
        	padding: .5em;
        	color: $secondary-color;
        	@include border-radius(5px);
        		&:hover {
        			@include transition-effect(400ms);
        			color: white;
        			background-color: $secondary-color;
        		}
        	}
    	}
    }
}

.post-header {
    h1 {
        margin-bottom: .1em;
        font-size: 2.2em;
    }
    time {
        margin-left: 1.3em;
    }
}

.post-content {
    margin: 0 auto;
    width: 90%;
    p {
        margin-bottom: 2.5em;
        font-size: 1.1em;
    }
}

@media screen and (max-width: 1080px) {
    .post-list {
        min-width: 90%;
        padding-left: 0;
        li {
            margin-bottom: 2em;
            margin-top: 2em;
            margin-left: 0;
        }
    }
}