//color scheme
$primary-color: #0971B2; //dark blue
$secondary-color: #1485CC; //lighter blue
$gray: #f1f1f1; //light gray

//Font declarations
$heading-font: "freight-sans-pro", serif;
$body-font: "proxima-nova", sans-serif;

//extends & mixins
%margin-reset {
	padding: 0;
	margin: 0;
}
@mixin border-radius($radius) {
	border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin transition-effect($time) {
	transition: $time;
    -moz-transtion: $time;
    -o-transition: $time;
	-webkit-transition: $time;
}

@mixin item-card($padding) {
	background-color: white;
	color: black;
	padding: $padding;
	box-shadow: 0 0 8px #616161;
}

//From Colton's Toolkit https://github.com/coltonfitzgerald/coltons-toolkit

@mixin font-size($size: 1.6) {
    font-size: $size;
    font-size: ($size / 16px) * 1rem;
}

@function em($target, $context: $base__font-size) {
	@return ($target / $context) * 1em;
}